.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('Swisscircles_bk.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align the logos to the right */
  margin-top: 20px; /* Add margin to create space between the logo and buttons */
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 30px; /* Adjust the margin between the rows */
}

.cell {
  display: flex;
  align-items: center;
}

.swiss_logo {
  width: 150px; /* Adjust the width of the logos as needed */
  height: auto; /* Maintain the aspect ratio of the logos */
  margin-right: 10px; /* Adjust the margin between the logo and button */
}

.hana_logo {
  width: 80px; /* Adjust the width of the logos as needed */
  height: auto; /* Maintain the aspect ratio of the logos */
  margin-right: 10px; /* Adjust the margin between the logo and button */
}

.minami_logo {
  width: 120px; /* Adjust the width of the logos as needed */
  height: auto; /* Maintain the aspect ratio of the logos */
  margin-right: 10px; /* Adjust the margin between the logo and button */
}

.wheel-button {
  font-family: Arial;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #d83f10;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px; /* Set the width of the buttons as needed */
}

.button-text {
  margin-top: 2px;
}

.wheel-button:hover {
  background-color: #e93b0f;
}
